/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

h1 {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: cornflowerblue;
  text-align: center;
  border: 2px dotted navy;
}

h2 {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  text-align: center;
}
h3 {
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(85, 85, 168);
  text-align: center;
  text-decoration: underline;
}

nav {
  background-color: #eb0a0a;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

nav a {
  color: white;
  text-decoration: underline;
}

nav a:hover {
  background-color: white;
  color: blue;
}

main {
  text-align: center;
}

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid navy;
  border-radius: 4px;
  padding: 5px;
}

main p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.all-view {
  border: 2px solid rgb(23, 3, 136);
  background-color: rgba(175, 175, 233, 0.151);
  flex-basis: 33%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.all-view p {
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.all-view img {
  border-radius: 50%;
  background-color: white;
  width: 30%;
}

.assigned {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single-main {
  display: flex;
  align-items: center;
  background-color: rgb(228, 228, 240);
}

.single-main div {
  flex-basis: 300%;
}

.single-main > p {
  padding: 20px;
  font-weight: bold;
}

.single-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-container {
  display: flex;
  flex-direction: row;
}

#single-project {
  flex-basis: 50%;
}

#single-robot {
  flex-basis: 50%;
}
