/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body,
html {
  height: 100%;
}

/* navbar */

nav {
  background-color: #1e2f50;
  padding: 14px;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Trirong, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}

li a:hover {
  color: rgb(186, 221, 248);
}

/* homepage */
main {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

main div {
  width: 100%;
  height: 800px;
  background-image: url("https://images.theconversation.com/files/191772/original/file-20171025-5822-1wixns4.png?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
  background-size: cover;
  padding: 50px;
}

main p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: aliceblue;
  padding: 30px;
}

/* all-view */

.all-view-container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.all-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

h1 {
  font-size: 25px;
  font-family: Trirong, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  text-align: left;
  color: rgb(115, 150, 247);
}

.add {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  margin: 10px;
  height: fit-content;
}

.add:hover {
  background-color: royalblue;
}

.add a {
  text-decoration: none;
}

.all-bottom {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
}

.single {
  flex-basis: 30%;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-bottom img {
  border-radius: 50%;
  background-color: white;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.all-bottom img:hover {
  box-shadow: 0 0 20px rgb(150, 188, 219);
}

.description h2 {
  font-size: 15px;
  font-family: Trirong, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  text-align: center;
  padding: 10px;
  color: rgb(60, 113, 156);
}

.description p {
  font-size: 15px;
  font-family: Trirong, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  text-align: left;
  padding: 10px;
  color: rgb(60, 113, 156);
}

h3 {
  font-size: 22px;
  font-family: Trirong, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: rgb(14, 47, 138);
  text-align: center;
}

h3:hover {
  color: rgb(115, 150, 247);
}

.delete {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  margin: 10px;
  height: fit-content;
  align-self: flex-end;
}

.delete:hover {
  background-color: royalblue;
}

/* single view */

.single-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-main {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  background-color: rgb(45, 115, 185);
  padding: 10px;
  margin: 18px;
}

.single-main p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: aliceblue;
}

.single-main img {
  border-radius: 50%;
  background-color: white;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-main #details {
  border: 1px solid rgb(128, 128, 179);
  border-radius: 10%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
}

.single-main #details p {
  font-size: 14px;
  color: aliceblue;
}

.single-assigned {
  padding: 16px;
}

.assign-bottom {
  border: 1px dotted black;
  margin-top: 30px;
  padding: 10px;
  background-color: aliceblue;
}
.assigned-to {
  display: flex;
  flex-direction: column;
}

#single-robot-project {
  display: block;
  margin: 10px;
  padding: 5px;
  border: 0.5px dotted rgb(170, 170, 202);
  background-color: rgb(237, 244, 250);
}

#single-robot-project img {
  border-radius: 50%;
  background-color: white;
  width: 18%;
}

#single-robot-project h3 {
  padding: 20px;
}

.unassign {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  margin: 20px;
  height: fit-content;
}

.unassign:hover {
  background-color: royalblue;
}

.single-assigned p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 20px;
}

h4 {
  font-size: 15px;
  font-family: Trirong, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: rgb(14, 47, 138);
  padding: 20px;
}

.update {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  margin: 10px;
  height: fit-content;
}

.update:hover {
  background-color: royalblue;
}

.update a {
  text-decoration: none;
}

/* form */

.form-container {
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  padding: 10px;
  background-color: aliceblue;
}

.form-container h1 {
  text-align: left;
}

.form-container p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgb(150, 188, 219);
  font-style: italic;
}

.form-container label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(150, 188, 219);
}

.form label {
  margin: 10px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: rgb(229, 235, 243);
}

input:focus {
  border: 1px solid gray;
  background-color: white;
}

.submit {
  background-color: dodgerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submit:hover {
  background-color: royalblue;
}

/* Page Not Found */

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(60, 113, 156);
}

.not-found a:hover {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(94, 173, 238);
}

.not-found img {
  width: 800px;
  border: 2px solid black;
  padding: 3px;
}

.not-found h1 {
  color: rgb(60, 113, 156);
}
h5 {
  color: rgb(60, 113, 156);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
